/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}


/*==========  Fonts  ==========*/

@font-face {
  font-family: "AvenirNext-Regular";
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "AvenirNext-Demi";
  src: url("../fonts/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "AvenirNext-Medium";
  src: url("../fonts/AvenirNextLTPro-MediumCn.otf");
}

/*==========  Styles  ==========*/

body {
	font-family: AvenirNext-Regular;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

/*  Header  */

.navbar-header {
	margin: 0;
	padding: 0;
}

header.navbar {
	height: 60px;
	background-color: #80AF65;
	color: #FFF;
	padding: 15px;
}

.navbar-right {
	padding: 0 15px;
	list-style-type: none;
}

.navbar-right a {
	color: #FFF;
	font-size: 14px;
	font-family: AvenirNext-Demi;
}

.navbar-right a:hover {
	text-decoration: none;
}

.user-avatar-xs {
	width:30px;
	height: 30px;
	border-radius: 10%;
	margin: 0px 6px;
}

/*  /Header  */